body{
    margin: 0;
}
.banner {
    position: fixed;
    width: 1580px;
    height: 100px;
    left: 0px;
    border: 2px solid #1c1c35;
    z-index: 2;

}
.bg{
    position: absolute;
    width: 1583px;
    height: 1000px;
    top: 100px;
    z-index: 0;
}
header h1{
    margin: 0;
    font-family: franklin gothic medium;
    font-size: 40px;
    position: fixed;
    top: 30px;
    left: 50px;
    color: white;
    z-index: 2;
}
span{
    margin: 0 30px;
}
.val img{
    position: absolute;
    z-index: 1;
    top: 250px;
    left: 575px;
    box-shadow: 10px 10px 5px black ;
}
/*--------------------------*/
.val img:hover{
    position: absolute;
    top: 225px;
    opacity: 0.96;
}
